:root{
    --main-color:aqua;
    --light-color:rgb(50, 83, 94);
    --spacing:50px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    margin: 0;
}
.site-header{
    display: flex;
    justify-content: space-between;
    padding: var(--spacing);
    align-items: center;
    background-color: var(--main-color);
}
.nav-links{
    display: flex;
gap: var(--spacing);
}
.nav-links a{
    color:black;
    transition: color 0.5s ;
    text-decoration: none;
}
.nav-links a:hover{
    color: red;
}
.intro{
    padding: var(--spacing);
    margin: 5px;
    background-color: var(--light-color);

}
.primary-button{
    background-color:var(--main-color);
    color: black;
    transition:  background-color 0.5s, transform 0.5s;
    padding: 8px;
    border: 2px solid blue;
}
.primary-button:hover{
    background-color: blue;
    transform: scale(1.2);
}
.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.card{
    background-color: var(--light-color);
    padding: 5px;
    border: 2px solid black;
}
@media(max-width:700px){
    .card-grid{
        grid-template-columns: 1fr;
    }
}
